.idea/
.gradle/
build/
backend/build/
frontend/node_modules/
frontend/dist/
frontend/.vite/
var/
*.db
*.sqlite
.DS_Store
Thumbs.db
gradlew
gradlew.bat
gradle/wrapper/
.gradle/
**/gradlew
**/gradlew.bat
**/gradle/wrapper/**
**/.gradle/
.temp/
